* {
  font-family: "Lato", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
}

img {
  width: 100px;
  height: 100px;
}

.navbar-1 {
  background: linear-gradient(#111, #222, #333, #222, #111);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  padding-bottom: 30px;
  position: relative;
}

.navbar-1 h1 {
  color: #fff;
  margin-left: 20px;
}

.navbar-1 ul a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.navbar-1 ul a:hover {
  color: rgb(213, 108, 28);
  transition: 0.3s;
}

.navbar-2 {
  background: linear-gradient(#111, #111);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  padding: 30px 40px;
  position: relative;
}

.navbar-2 .navbar-toggle {
  display: none;
  background-color: #333;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

.navbar-2 ul {
  margin: auto;
  text-align: center;
  display: none; /* Hide by default */
}

.navbar-2 ul a {
  color: #fff;
  text-decoration: none;
  margin-right: 40px;
  display: block; /* Make links take the full width */
  text-align: left;
}

/* Responsive */
@media screen and (max-width: 1000px) {
  .navbar-2 .navbar-toggle {
    display: block;
  }

  .navbar-2 ul {
    width: 100%;
  }
}

@media screen and (min-width: 1000px) {
  .navbar-2 ul {
    display: flex;
  }
  .navbar-2 {
    flex-direction: row;
  }
}
